include /mixins/__mixins

block variables 

doctype html
html(lang="ru")
    head
        meta(charset='utf-8')
        meta(name="msapplication-TileColor" content=`${themeColor}`)
        meta(name='viewport' content='width=device-width,initial-scale=1')
        meta(name="msapplication-TileImage" content="")
        meta(name='theme-color' content=`${themeColor}`)
        meta(name='msapplication-navbutton-color' content=`${themeColor2}`)
        meta(name='apple-mobile-web-app-status-bar-style' content=`${themeColor2}`)
        meta(name="description", content=`${desc}`)
        block title 
        link(type="image/x-icon" href="favicon.ico" rel="icon")
        link(type="image/svg+xml" href="#" rel="icon")
        link(href="#" rel="apple-touch-icon")
        link(href="#" color=`${themeColor}` rel="mask-icon")
        link(type='text/css' href="libs/bootstrap/css/bootstrap.min.css" rel="stylesheet")
        link(type='text/css' href="libs/datepicker-bootstrap/datepicker.min.css" rel="stylesheet")
        link(type='text/css' href="libs/croppie/croppie.css" rel="stylesheet")
        link(type='text/css' href="libs/swiper/swiper-bundle.min.css" rel="stylesheet")
        link(type='text/css' href="libs/fancybox/fancybox.css" rel="stylesheet")
        link(type='text/css' href="css/main.min.css" rel="stylesheet")
        body
            include /modules/header
            block content
            include /modules/footer
            include /modules/modals

        script(src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous")
        script(src='libs/bootstrap/js/bootstrap.bundle.min.js')
        script(src='libs/bootstrap-fileinput/js/fileinput.min.js')
        script(src='libs/datepicker-bootstrap/js/datepicker.js')
        script(src='libs/datepicker-bootstrap/js/datepicker.ru-RU.js')
        script(src='libs/bootstrap-fileinput/js/locales/ru.js')
        script(src='libs/DataTables/datatables.min.js')
        script(src='libs/croppie/croppie.min.js')
        script(src='libs/jquery.maskedinput.min.js')
        script(src='libs/parallax/tweenmax.min.js')
        script(src='libs/parallax/jquery-parallax.js')
        script(src='libs/swiper/swiper-bundle.min.js')
        script(src='libs/fancybox/fancybox.js')
        script(src='js/scripts.js')